body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
}
nav {
	width: 100%;
	height: 85px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #232f3e;
}
nav a {
	cursor: pointer;
}
nav img {
	width: 80px;
	margin-left: 20px;
}
nav .icon {
	width: 50px;
	height: 50px;
	margin-right: 10px;
}
nav .search {
	display: flex;
}
nav .search .button {
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #ca895f;
	cursor: pointer;
}
nav .search .button img {
	width: 20px;
	height: 20px;
	margin: 0;
}
nav .services a {
	cursor: pointer;
}
nav .search input {
	width: 400px;
	height: 30px;
}
.content {
	width: 100%;
	padding: 10px;
}
footer {
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #232f3e;
	color: aliceblue;
	flex-direction: column;
}
footer img {
	width: 100px;
	height: 100px;
}
footer a {
	cursor: pointer;
}

#home {
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: 600px;
}
#home #categories {
	width: 30%;
	height: 570px;
	border-right: 1px solid black;
}
#home #categories ul {
	font-size: 14px;
}
#home #categories ul li {
	margin-bottom: 5px;
}
#home #categories ul li a {
	cursor: pointer;
}
#home #productsPanel {
	width: 66%;
	height: 570px;
	display: flex;
	flex-wrap: wrap;
	overflow-y: scroll;
}
#home #productsPanel .product {
	width: 200px;
	height: 330px;
	font-size: 14px;
	margin-right: 20px;
	margin-bottom: 30px;
	padding: 10px;
	box-shadow: 0px 0px 8px 0px #000000bd;
}
#home #productsPanel .product a {
	cursor: pointer;
}
#home #productsPanel .product a img {
	width: 100%;
	max-height: 140px;
}

#itemDetail {
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#itemDetail .itemDetailPanel {
	width: 95%;
	height: 500px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	box-shadow: 0px 0px 8px 0px #000000bd;
}
#itemDetail .itemDetailPanel .productImage {
	width: 45%;
	height: 450px;
	border: 1px solid gray;
}
#itemDetail .itemDetailPanel .detail {
	width: 50%;
	height: 450px;
}
#itemDetail .itemDetailPanel .detail .addToCartButton {
	padding: 6px;
	border-radius: 4px;
	color: white;
	cursor: pointer;
	background-color: #ca895f;
}

#cart {
	width: 100%;
	height: 600px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}
#cart .cartProductsPanel {
	width: 65%;
	height: 550px;
	padding: 15px;
	display: flex;
	flex-direction: column;
	box-shadow: 0px 0px 8px 0px #000000bd;
}
#cart .cartProductsPanel #products {
	width: 100%;
	height: 500px;
	display: flex;
	align-items: center;
	flex-direction: column;
	overflow-y: scroll;
	overflow-x: hidden;
}
#cart .cartProductsPanel #products .product {
	width: 95%;
	height: 120px;
	padding: 10px;
	display: flex;
	margin-bottom: 15px;
	align-items: center;
	justify-content: space-between;
	background-color: #d5d5d5;
	box-shadow: 0px 0px 8px 0px #000000bd;
}
#cart .cartProductsPanel #products .product .removeButton {
	background-color: red;
	color: white;
	padding: 12px;
	border-radius: 4px;
	cursor: pointer;
}
#cart .cartProductsPanel #products .product a img {
	height: 90px;
	width: 140px;
	border: 1px solid black;
	margin-left: 10px;
}
#cart .cartProductsPanel #products .product .description {
	width: 70%;
	height: 90px;
}
#cart .cartFinish {
	width: 25%;
	height: 300px;
	padding: 15px;
	display: flex;
	margin-top: 12px;
	align-self: flex-start;
	flex-direction: column;
	justify-content: space-around;
	box-shadow: 0px 0px 8px 0px #000000bd;
}
#cart .cartFinish .finishButton {
	align-self: center;
	width: 140px;
	background-color: #ca895f;
	text-align: center;
	padding: 12px;
	color: white;
	border-radius: 4px;
	cursor: pointer;
}
